/* welcomescreen */
.welcomescreen {
  background: url('../img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.welcomewrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcomebutton, .welcomeimg, .welcometitle {
  display: flex;
  justify-content: center;
}
.welcomebutton button {
  flex: 0 0 auto;
  margin: 10px;
}
.welcomeimg img {
  height: 128px;
  width: 128px;
  margin-bottom: -15px;
}
.welcometitle h1 {
  color: white;
  text-shadow: 1px 1px #000;
}

/* photon fixes */
.pane-group {
  display: flex;
}
.pane {
  flex: 1 1 auto;
}
.toolbar {
  background: linear-gradient(#f5f5f4, #f5f5f4);
  box-shadow: inset 0 0 1px 0 #f5f5f4;
  border-bottom: solid 1px #ddd;
}
.list-group-item, .list-group-header {
  border-bottom: solid 1px #ddd;
  border-top: solid 0px #ddd;
}
.sidebar {
  min-width: 180px;
}
.sidebar.pull-right{
  border-left: solid 1px #ddd;
}
.list-group-header {
  background: #e6e6e6;
}
table {
  border-bottom: solid 1px #ddd;
}
input:focus {
  box-shadow: none !important;
}

/* custom sytles */
.filepanel {
  overflow: auto;
}
.maplevel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.maplevel .hierarchynum {
  flex: 0 0 auto;
  margin-right: 20px;
  align-self: flex-start;
  font-size: 30px;
  line-height: 40px;
  color: grey;
}
.mapnode {
  flex: 0 0 auto;
  padding: 10px;
  border-radius: 2px;
  background: #0E6EB8;
  height: 40px;
  max-width: 150px;
  margin: 10px 5px;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  box-shadow: 2px 2px black;
}
.mapnode.chose {
  background: black;
}
.maplevel .btn-group {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px 5px;
}
.maplevel .btn-group div {
  align-self: center;
  height: 20px;
  flex: 0 0 50%;
  margin: 0px !important;
}
.mappanel .list-group-header {
  width: 100%;
}
.formpane {
  background-color: #e6e6e6;
}
.formpane .form-group{
  display: flex;
  padding: 5px;
  margin-bottom: 0;
  border-bottom: solid 1px #ddd;
}
.formpane .form-group div {
  flex: 1 1 auto;
}
.formpane .form-group span {
  align-self: center;
  margin: 0 5px;
}
.formpane .form-group .nameinput {
  flex: 0.25 0.25 25%;
}
.formpane .form-group .descriptioninput {
  flex: 0.75 0.75 75%;
}
.parampane {
  display: flex;
  flex-direction: column;
}
.codepane {
  flex: 1 1 auto;
}
